<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <link rel="manifest" href="/manifest.json">
    <link rel="shortcut icon" href="/favicon.ico">
    <title>React App</title>
    <link href="/stylesheets/main.b7bd59c1.css" rel="stylesheet">
</head>
<body>
<h2>Sample Login Page</h2>

<form class="login_form">
    <div>
    <label id="user_name_label" for="user_name">User Name:</label>
        <input type="text" name="user_name" id="user_name" value="">
    </div>
    <div>
        <label id="password_label" for="password">Password:</label>
        <input type="text" name="password" id="password" value="">
    </div>
    <div>
        <button type="button" data-login-in-button>Sign in</button>
    </div>
</form>

<script src="https://www.gstatic.com/firebasejs/4.2.0/firebase.js"></script>
<script src="javascripts/firebase-authentication.js"></script>

</body>
</html>
